<div>
    <input  style ="font-size: 40px" type="text" placeholder="name" [(ngModel)]="userData.custName">
    <br>
    <br>
    <input style ="font-size: 40px" type="text" placeholder="mobile" [(ngModel)]="userData.mobileNumber">
    <br>
    <br>
    <input  style ="font-size: 40px" type="text" placeholder="email" [(ngModel)]="userData.email">
    <br>
    <br>
    <input style ="font-size: 40px" type="text" placeholder="password" [(ngModel)]="userData.password">
    <br>
    <br>
    <button style ="font-size: 30px" (click)="formSubmit()">Register</button>
     &nbsp;
    <button style ="font-size: 30px" (click)="login()">login</button>
    
</div>